<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <style>
    [v-cloak]   { display: none; }
    .box {
      padding: 0;
      overflow: hidden;
      flex-basis: 100%;
      line-height: 0;
    }
    .cover-tile {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .modal-image {
      position: fixed;
      max-width: 90vw;
      max-height: 90vh;
    }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Seraph of the End</title>
</head>
<body>
  <main id="app" v-cloak>
  
    <section class="section">
      <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="../">Seraph</a></li>
            <li class="is-active"><a href="#" aria-current="page">Vamp Yuu</a></li>
          </ul>
        </nav>
        <div class="level">
          <div class="level-left">
            <h1 class="title level-item">Vampire Yuu Content</h1>
          </div>
          <div class="field level-right">
            <search-bar @search="search"></search-bar>
          </div>
        </div>
        <p v-show="invalidTag">No tags match that search.</p>
        <div class="tags">
          <span v-for="query of queries" class="tag is-medium">
            {{ query }}&nbsp;
            <button class="delete is-small" @click="remove(query)"></button>
          </span>
        </div>
        <div class="columns is-vcentered is-multiline">
          <div v-for="image of results" class="column is-3">
            <div class="box image is-square hover" @click="openModal(image)">
              <img :src="image.src" class="cover-tile">
            </div>
          </div>
        </div>
        <div v-show="!queries.size">
          <div
            style="padding-bottom: 24px"
            v-for="group of groups"
            :key="group.name"
          >
            <component :is="group.layout" :images="group.images" class="group">
            </component>
          </div>
        </div>
      </div>
    </section>

    <div v-if="modal!=null" class="modal is-active">
      <div class="modal-background" @click="closeModal"></div>
      <img :src="modal.src" class="modal-image">
    </div>
  
  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
  <script>
    Vue.component('image-box', {
      props: {
        src: Object,
        viewed: {
          type: Boolean,
          default: false
        }
      },
      template: `
      <div class="tile is-child box" @click="$root.openModal(src)">
        <img class="cover-tile image is-square" src="" :data-src="src.src">
      </div>
      `,
    })

    Vue.component('box-layout-any', {
      props: {
        images: Array
      },
      template: `
      <div class="tile is-ancestor">
        <div v-for="img of images" :key="img.src" class="tile is-parent">
          <image-box :src="img" :viewed="img.loaded"></image-box>
        </div>
      </div>
      `
    })

    Vue.component('box-layout-3', {
      props: {
        images: Array
      },
      template: `
        <div class="tile is-ancestor">
          <div class="tile is-parent is-3">
            <image-box :src="images[0]"></image-box>
          </div>
          <div class="tile is-parent is-6">
            <image-box :src="images[1]"></image-box>
          </div>
          <div class="tile is-parent is-3">
            <image-box :src="images[2]"></image-box>
          </div>
        </div>
      `
    })

    Vue.component('box-layout-4', {
      props: {
        images: Array
      },
      template: `
      <div class="tile is-ancestor">
        <div class="tile is-parent is-3 is-vertical">
          <image-box :src="images[0]"></image-box>
          <image-box :src="images[1]"></image-box>
        </div>
        <div class="tile is-parent">
          <image-box :src="images[2]"></image-box>
        </div>
        <div class="tile is-parent is-3">
          <image-box :src="images[3]"></image-box>
        </div>
      </div>
      `
    })

    Vue.component('box-layout-6', {
      props: {
        images: Array
      },
      template: `
      <div class="tile is-ancestor">
        <div class="tile is-parent is-3">
          <image-box :src="images[0]"></image-box>
        </div>
        <div class="tile is-vertical is-3">
          <div class="tile is-parent is-12">
            <image-box :src="images[1]"></image-box>
          </div>
          <div class="tile is-parent">
            <image-box :src="images[2]"></image-box>
          </div>
        </div>
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent">
              <image-box :src="images[3]"></image-box>
            </div>
            <div class="tile is-parent">
              <image-box :src="images[4]"></image-box>
            </div>
          </div>
          <div class="tile">
            <div class="tile is-parent">
              <image-box :src="images[5]"></image-box>
            </div>
          </div>
        </div>
      </div>
      `
    })

    Vue.component('box-layout-5', {
      props: {
        images: Array
      },
      template: `
      <div class="tile is-ancestor">
        <div class="tile is-9 is-vertical">
          <div class="tile">
            <div class="tile is-parent is-8">
              <image-box :src="images[0]"></image-box>
            </div>
            <div class="tile is-parent">
              <image-box :src="images[1]"></image-box>
            </div>
          </div>
          <div class="tile">
            <div class="tile is-parent is-4">
              <image-box :src="images[2]"></image-box>
            </div>
            <div class="tile is-parent">
              <image-box :src="images[3]"></image-box>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <image-box :src="images[4]"></image-box>
        </div>
      </div>
      `
    })

    Vue.component('box-layout-7', {
      props: {
        images: Array
      },
      template: `
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-3">
          <div class="tile is-parent is-12">
            <image-box :src="images[0]"></image-box>
          </div>
          <div class="tile is-parent">
            <image-box :src="images[1]"></image-box>
          </div>
        </div>
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-8 is-parent">
              <image-box :src="images[2]"></image-box>
            </div>
            <div class="tile is-vertical is-parent">
              <image-box :src="images[3]"></image-box>
              <image-box :src="images[4]"></image-box>
            </div>
          </div>
          <div class="tile">
            <div class="tile is-4 is-parent">
              <image-box :src="images[5]"></image-box>
            </div>
            <div class="tile is-parent">
              <image-box :src="images[6]"></image-box>
            </div>
          </div>
        </div>
      </div>
      `
    })

    Vue.component('search-bar', {
      props: {
        images: Array
      },
      template: `
      <div class="field has-addons">
        <div class="control has-icons-left">
          <input
            class="input"
            type="search"
            v-model="query"
            @keyup.enter="search"
          >
          <span class="icon is-small is-left">
            <i class="fas fa-search fa-xs"></i>
          </span>
        </div>
        <div class="control">
          <button type="submit" class="button" @click="search">Search</button>
        </div>
      </div>
      `,
      data() {
        return {
          query: '',
          aliases: new Map([
            ['beach', /\b:?wi:?\b|beach/],
            ['only yuu', /(?:only|just) yuu|yuu only/],
            ['mika', /mika(?:ela|yuu)?|yuumika/],
            ['vampire mika', /vamp.*(?=mikayuu|yuumika|mika)/],
            ['reversal', /revers.*|jida mika/],
            ['5 min', /(?:5|five).?min/],
            ['blood drinking', /blood ?(?:drink|shar|suck)|wine/],
            ['come crashing', /come crashing|\bcc\b/],
            ['cherry picking', /cherry/],
            ['color', /color(?:ed|ing)?/],
            ['lineless paper', /(?:unlined|unruled)|paper (?:without|no) lines/]
          ])
        }
      },
      methods: {
        search() {
          let query = this.query.toLowerCase();
          let invalidTag = true;
          if (this.aliases.get(query)) {
            invalidTag = false;
            this.$emit('search', query);
          } else {
            for (let [key, value] of this.aliases) {
              if (value.test(query)) {
                invalidTag = false;
                if (key == 'mika' && this.aliases.get('vampire mika').test(query)) continue;
                this.$emit('search', key);
              }
            }
          }
          this.$root.invalidTag = invalidTag;
          this.query = '';
        }
      }
    })

    var app = new Vue({
      el: '#app',
      data: {
        modal: null,
        queries: new Set(),
        results: [],
        invalidTag: false,
        // tags beach, only yuu, mika, vampire mika, reversal, 5 min, blood drinking, come crashing, cherry picking, color, lineless paper
        groups: [
          {
            name: 'General 5',
            layout: 'box-layout-any',
            images: [
              { src: 'motivationbutnot.png', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'throne.jpg', tags: ['mika', 'color', 'lineless paper'] },
              { src: 'strengthtododishes.png', tags: ['only yuu', 'color', 'lineless paper'] }
            ]
          },
          {
            name: 'General 4',
            layout: 'box-layout-6',
            images: [
              { src: 'vertical.png', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'kissu.jpg', tags: ['mika', 'vampire mika' ]},
              { src: 'notbingo.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: 'blood_fountain.jpg', tags: ['mika', 'vampire mika', 'color', 'blood drinking', 'lineless paper'] },
              { src: 'hahahaha.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: 'header.png', tags: ['only yuu', 'color', 'lineless paper']}
            ]
          },
          {
            name: 'Vamp Yuu Weekend',
            layout: 'box-layout-3',
            images: [
              { src: 'for_ana.jpg', tags: ['only yuu', 'color', 'lineless paper']},
              { src: 'wowimlate_final.jpg', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'modernau.jpg', tags: ['only yuu', 'color', 'lineless paper'] }
            ]
          },
          {
            name: 'CC Sketches',
            layout: 'box-layout-any',
            images: [
              { src: 'cc_1.jpg', tags: ['mika', 'vampire mika', 'blood drinking', 'come crashing', 'lineless paper'] },
              { src: 'cc_2.jpg', tags: ['mika', 'vampire mika', 'blood drinking', 'come crashing', 'lineless paper'] },
              { src: 'cc_3.jpg', tags: ['mika', 'vampire mika', 'blood drinking', 'come crashing', 'lineless paper'] },
              { src: 'cc_4.jpg', tags: ['mika', 'vampire mika', 'blood drinking', 'come crashing', 'lineless paper'] },
              { src: 'cc_5.jpg', tags: ['mika', 'vampire mika', 'blood drinking', 'come crashing', 'lineless paper'] },
              { src: 'cc_6.jpg', tags: ['mika', 'vampire mika', 'blood drinking', 'come crashing', 'lineless paper'] },
              { src: 'cc_7.jpg', tags: ['mika', 'vampire mika', 'blood drinking', 'come crashing', 'lineless paper'] },
              { src: 'cc_8.jpg', tags: ['mika', 'vampire mika', 'blood drinking', 'come crashing', 'lineless paper'] }
            ]
          },
          {
            name: 'MS Paint',
            layout: 'box-layout-5',
            images: [
              { src: 'nova.png', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'mari.png', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'notepad.png', tags: ['only yuu', 'lineless paper'] },
              { src: 'ana.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: 'heelys.png', tags: ['only yuu', 'color', 'lineless paper'] },
            ]
          },
          {
            name: '5-Minute Mikayuu 2',
            layout: 'box-layout-7',
            images: [
              { src: 'cups.jpg', tags: ['mika', 'vampire mika', '5 min', 'blood drinking'] },
              { src: 'uniforms.jpg', tags: ['mika', 'vampire mika', '5 min'] },
              { src: '100km.jpg', tags: ['mika', '5 min'] },
              { src: 'caps.jpg', tags: ['mika', '5 min'] },
              { src: 'witch.jpg', tags: ['mika', '5 min'] },
              { src: 'moon.jpg', tags: ['mika', 'vampire mika', '5 min'] },
              { src: 'stabby.jpg', tags: ['mika', 'reversal', '5 min'] },
            ]
          },
          {
            name: 'Bingo 1',
            layout: 'box-layout-7',
            images: [
              { src: '../bingo/april-2020/free_space.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: '../bingo/april-2020/neko.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: '../bingo/april-2020/soulmates.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: '../bingo/april-2020/bed_share.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: '../bingo/april-2020/online_school.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: '../bingo/april-2020/royalau.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: '../bingo/april-2020/squad.png', tags: ['mika', 'reversal', 'color', 'lineless paper'] },
            ]
          },
          {
            name: 'Bingo 2',
            layout: 'box-layout-4',
            images: [
              { src: '../bingo/april-2020/pining.png', tags: ['mika', 'reversal', 'color', 'lineless paper'] },
              { src: '../bingo/april-2020/divine.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: '../bingo/april-2020/bythebook.png', tags: ['mika', 'reversal', 'color', 'lineless paper'] },
              { src: '../bingo/april-2020/artists.jpg', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },

            ]
          },
          {
            name: 'Doodle',
            layout: 'box-layout-5',
            images: [
              { src: 'axolotl.jpg', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'fandom_likes.jpg', tags: ['mika', 'vampire mika', 'blood drinking'] },
              { src: 'shoulder_vamp_yuu.jpg', tags: ['mika', 'vampire mika', 'blood drinking'] },
              { src: 'sideways.jpg', tags: ['mika', 'vampire mika', 'blood drinking'] },
              { src: 'vamp_yuu2.jpg', tags: ['only yuu'] }
            ]
          },
          {
            name: 'Bot',
            layout: 'box-layout-7',
            images: [
              { src: 'vampyuubot.png', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'vampyuu5.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: 'vampyuu1.png', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'vampyuu3.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: 'vampyuu4.png', tags: ['color', 'lineless paper'] },
              { src: 'vampyuu2.png', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'in_case.png', tags: ['only yuu', 'color', 'lineless paper'] },
            ]
          },
          {
            name: 'Digital Doodle',
            layout: 'box-layout-5',
            images: [
              { src: 'vampyuuremind.png', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'ex_main.jpg', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'cherry_essay_ruin.png', tags: ['mika', 'vampire mika', 'cherry picking', 'color', 'lineless paper'] },
              { src: 'vampyuuremind2.png', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'weakness.png', tags: ['only yuu', 'color', 'lineless paper'] }
            ]
          },
          {
            name: 'General 3',
            layout: 'box-layout-3',
            images: [
              { src: 'buildings.jpg', tags: ['mika', 'vampire mika', '5 min'] },
              { src: 'cuddle.jpg', tags: ['mika', 'vampire mika'] },
              { src: 'trail_mix.jpg', tags: ['only yuu'] },
            ]
          },
          {
            name: 'General',
            layout: 'box-layout-6',
            images: [
              { src: 'beach.jpg', tags: ['mika', 'vampire mika', 'beach', 'blood drinking'] },
              { src: 'hug.jpg', tags: ['mika', 'vampire mika'] },
              { src: 'vamps.jpg', tags: ['mika', 'vampire mika'] },
              { src: 'vamp_yuu.jpg', tags: ['only yuu', 'lineless paper', 'color'] },
              { src: 'wip_blood.jpg', tags: ['only yuu'] },
              { src: 'lying_down.jpg', tags: ['only yuu'] },
            ]
          },
          {
            name: 'General 2',
            layout: 'box-layout-4',
            images: [
              { src: 'hand_drink.jpg', tags: ['mika', 'vampire mika', 'blood drinking'] },
              { src: 'hand_drink_variant.jpg', tags: ['mika', 'reversal', 'blood drinking'] },
              { src: 'hoods.jpg', tags: ['mika', 'vampire mika'] },
              { src: 'fridge.jpg', tags: ['mika', 'vampire mika', 'blood drinking','come crashing'] },
            ]
          },
          {
            name: '5-Minute Mikayuu',
            layout: 'box-layout-5',
            images: [
              { src: 'overgrown.jpg', tags: ['mika', 'vampire mika', '5 min'] },
              { src: 'nuzzle.jpg', tags: ['mika', 'vampire mika', '5 min'] },
              { src: 'noble_saves_witch.jpg', tags: ['mika', '5 min'] },
              { src: 'reversal.jpg', tags: ['mika', 'reversal', '5 min'] },
              { src: 'v_is_for.jpg', tags: ['mika', 'vampire mika', '5 min'] }
            ]
          },
          {
            name: 'Mikayuu Week',
            layout: 'box-layout-any',
            images: [
              { src: 'small_vamp.jpg', tags: ['only yuu', 'lineless paper'] },
              { src: 'not_my_blood_type.jpg', tags: ['mika', 'vampire mika', 'blood drinking', 'lineless paper'] },
              { src: 'come_crashing.jpg', tags: ['mika', 'vampire mika', 'come crashing', 'lineless paper'] },
              { src: 'lin_art.jpg', tags: ['mika', 'vampire mika', 'lineless paper'] }
            ]
          },
          {
            name: 'Desktop',
            layout: 'box-layout-5',
            images: [
              { src: 'desktop_5.png', tags: ['mika', 'vampire mika', 'blood drinking', 'color', 'lineless paper'] },
              { src: 'desktop_2.png', tags: ['only yuu', 'color', 'lineless paper'] },
              { src: 'desktop_3.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: 'desktop_4.png', tags: ['mika', 'vampire mika', 'color', 'lineless paper'] },
              { src: 'desktop_1.png', tags: ['only yuu', 'lineless paper'] },
            ]
          }
        ]
      },
      methods: {
        openModal(image) {
          document.documentElement.classList.add("is-clipped");
          this.modal = image;
        },
        closeModal() {
          document.documentElement.classList.remove("is-clipped");
          this.modal = null;
        },
        search(term) {
          this.queries.add(term);
          this.refresh();
        },
        remove(term) {
          this.queries.delete(term);
          this.refresh();
        },
        refresh() {
          this.results = [];
          if (this.queries.size) {
            for (let group of this.groups) {
              for (let image of group.images) {
                let match = true
                let imageTags = new Set(image.tags);
                for (let query of this.queries) {
                  if (!imageTags.has(query)) {
                    match = false;
                  }
                }
                if (match) this.results.push(image);
              }
            }
          }
        }
      },
      mounted() {
        // lazy load
        const observer = new IntersectionObserver((entries, observer) => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              const group = entry.target;
              const images = group.getElementsByTagName('img');
              for (let image of images) {
                image.src = image.dataset.src;
                image.className = 'cover-tile';
              }
              observer.unobserve(group);
            }
          });
        }, { threshold: 0.1 });
        let targets = document.querySelectorAll('.group');
        for (let target of targets) {
          observer.observe(target);
        }
      }
    })
  </script>
</body>
</html>