<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap" rel="stylesheet"> 
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <style>
    [v-cloak]   { display: none; }
    .page       { max-width: 100%; height: auto !important; }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Yuu'll Be the Death of Me</title>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>

      <v-app-bar app :value="toolbar" dense dark color="teal lighten-2">
        <v-app-bar-nav-icon @click.stop="nav=!nav"></v-app-bar-nav-icon>
        <v-toolbar-title>Yuu'll Be the Death of Me</v-toolbar-title>
      </v-app-bar>

      <v-navigation-drawer v-model="nav" bottom mobile-break-point="600" app>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="font-weight-medium">
              Yuu'll Be the Death of Me
            </v-list-item-title>
            <v-list-item-subtitle>
              by <a href="https://twitter.com/anahhzp">Ana</a> and <a href="../">Ygg</a>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-for="(ep, i) of episodes" :key="ep" @click="openEp(i)">
          <v-list-item-avatar size="64">
            <v-img
              :src="ep.pages[0]"
              :min-width="ep.zoom"
              :position="ep.position">
            </v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ ep.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-navigation-drawer>
  
      <v-content app>
        <div class="d-flex justify-center" @click="hideToolbar">
          <img v-for="page of currentEpisode.pages" :src="page" class="page">
        </div>
      </v-content>
  
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        nav: false,
        toolbar: true,
        episodeNumber: 0,
        episodes: [
          {
            title:'Prologue',
            zoom: '128',
            position: '0 5%',
            pages: [
              'prologue/1.jpg'
            ]
          }
        ]
      },
      computed: {
        currentEpisode() {
          return this.episodes[this.episodeNumber];
        }
      },
      methods: {
        hideToolbar() {
          this.toolbar = !this.toolbar;
          if (!this.toolbar) {
            this.nav = false;
          }
        },
        openEp(ep) {
          this.episodeNumber = ep;
        }
      }
    })
  </script>
</body>
</html>